# **Python datatypes**

1.**Integers(int)** - whole numbers without a decimal point, positive or negative

2.**Floating point numbers(float)** - numbers that include a decimal. They can also include scientific notation.

3.**Strings(str)** - sequences of characters used to store text. Strings are immutable, meaning ince created the characters within them cannot be changed.

4.**Lists(list)** - ordered collections that are mutable meaning you can modify their contents. lists can contain items or different types 

5.**tuples** - similar to lists but immutable.once a tuple is created its content cannot be altered

6.**dictionaries** - unordered collections of key-value pairs. keys must be unique and immutable which allows each pair to be fetched efficiently.

7.**sets** - unordered collections of unique elements. sets are mutable and are useful for removing duplicates from a sequence and performing mathematical operations like unions, intersections and differences

In [32]:
# list
x=["mohini","1","20.45","mohini_28"]
print(x)

# tuple
y=("bhargavi","16","59.9","bhargs_78")
print(y)

# set
z={"3","gauri","swara"}
print(z)

# dictionary
d={"name":"purva","age":"8"}
print(d)

['mohini', '1', '20.45', 'mohini_28']
('bhargavi', '16', '59.9', 'bhargs_78')
{'3', 'swara', 'gauri'}
{'name': 'purva', 'age': '8'}

**Type conversion**

In [35]:
type(x)

list

In [37]:
# list to tuple
tuple(x)
type(x)

list

In [41]:
ab = 12 # int to float 
ba=12.5  # float to int
ca="233" # string to int
xy=["asd","sdc","sds"]  # list to tuple
df=("xadi","243","34f","24dsdz") # convert to set
gf={"sdsj","ffgs","dfytf","tygy"} # convert to list

In [43]:
ab = 12 

float(ab) # int to float

12.0

In [45]:
ba=12.5
int(ba) # float to int

12

In [47]:
ca="233"
int(ca) # string to int

233

In [49]:
xy=["asd","sdc","sds"]
tuple(xy) # list to tuple

('asd', 'sdc', 'sds')

In [51]:
df=("xadi","243","34f","24dsdz")
set(df) # convert to set

{'243', '24dsdz', '34f', 'xadi'}

In [53]:
gf={"sdsj","ffgs","dfytf","tygy"}
list(gf) # convert to list

['ffgs', 'sdsj', 'tygy', 'dfytf']

***Control structure & conditional statement***

In [58]:
# if else
x=int(input("enter a integer:"))
if x % 2==0:
    print("even number")
else:
    print("odd number")

enter a integer: 7

odd number

In [20]:
# if elif else
percentage=float(input("Enter your percentage:"))
if percentage >=90: 
    print("Grade A+")
elif percentage >= 80: 
    print("Grade A")
elif percentage >=70:  
    print("Grade B+")
elif percentage >=60:  
    print("Grade B")
elif percentage >=40: 
    print("pass")
else:
    print("Fail")

Enter your percentage: 4

Fail

**loops**

In [23]:
number=5
for i in range(1,11):
    print(number,'x',i,'=',number*i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [25]:
count=1  # initial digit
while count <=10:   
    print(count)
    count +=1

1
2
3
4
5
6
7
8
9
10

**loop control statement**

- break : It break the condition until its execute. 
- continue : continue the condition (check all condition).
- pass : work as a place holder. (when we have no logic or empty loop then we use pass)

1.write a program that print all prime number within a specified range provided by the user

In [103]:
start_num = int(input("Enter start number:")) 
end_num = int(input("Enter end number:"))  
print(f"prime numbers are:")
for i in range(start_num,end_num + 1):   # to get prime numbers between that range
    if i > 1: # it will check the number is less than 1 that is  not prime # end _no +1 last digit also include
        for num in range(2,i):
            if i % num == 0:  # check the number has any divisible by 1 or itself
                break  # not prime  and exit the loop
        else:
            print(i)  # only prime number

Enter start number: 4
Enter end number: 90

prime numbers are:
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89

2. sum of natural numbers

In [106]:
num = int(input("Enter a number:"))
sum = 0  # intial sum is 0
for i in range(1,num + 1): # define the range start from 1  upto number which we provide.
    sum += i  
 
print("Sum of natural numbers is = ",sum)

Enter a number: 5

Sum of natural numbers is =  15

3.write a program that print all even number between two number provided by the user.

In [109]:
start_num = int(input("Enter start number:")) 
last_num = int(input("Enter end number:"))  
print(f"even numbers are:")
for i in range(start_num ,last_num + 1):
    if i % 2 == 0:
        print(i)

Enter start number: 5
Enter end number: 7

even numbers are:
6

4.write a program to calculate the sum of the digit of a number provided by the user.

In [112]:
number=int(input("Enter a number:"))
sum=0
while number > 0: 
    sum += number % 10 # will add last digit digit to sum
    number //= 10  # will remove last digit from number
print("sum of digit is :",sum)

Enter a number: 56

sum of digit is : 11

6.write a program that count the number of vowels in a given string.

In [115]:
string = input("Enter your word or sentence:")
v = 0  # initial count of vowel is 0
for i in string:
    if i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O'  or i=='U':  
        v = v + 1  # if yes then add it
print("The count of vowels are:",v)

Enter your word or sentence: mohini

The count of vowels are: 3

7.calculate the GCD(Gretest common divisor)

In [118]:
num1 = int(input("enter the first number :"))
num2 = int(input("enter the second number:"))
a = num1
b = num2
while num1 != num2:
    if num1 > num2:
        num1 -= num2 # if num1 is less than num2 and subtract it from num2 and store in num1
    else:
        num2 -= num1
print("GCD of given two numbers is",num1)

enter the first number : 5
enter the second number: 8

GCD of given two numbers is 1

4.convert temprature from celsius to fahrenheit

In [123]:
temp = float(input("Enter the Temprature  in celcius:")) 
faht=(9/5*temp)+32  
print("Temprature in Fahreheit is :",faht)

Enter the Temprature  in celcius: 67.89

Temprature in Fahreheit is : 154.202

1.Rotate a list by k positions

In [13]:
def rotate_list(list1, k):
    k = k % len(list1) # handle cases where k > len(list1)
    return list1[-k:]+ list1[:-k]
numbers = [3,4,5,6,7]
k = 2
rotate_numbers = rotate_list(numbers, k)
print(rotate_numbers)

[6, 7, 3, 4, 5]

In [28]:
list1 = [1,2,3,4,5]
k = 2
k = k % len(list1) # handle cases where k > len(list1)
rotate_numbers = list1[-k:]+ list1[:-k]
print(rotate_numbers)

[4, 5, 1, 2, 3]

2.flatten a nested list.

In [15]:
nested_list = [[2,3],[5,4],[8,9]]
flat_list = [item for sublist in nested_list for item in sublist]
print(flat_list)

[2, 3, 5, 4, 8, 9]

3.write a program to find the second largest number in a list.

In [18]:
numbers = [4,5,6,7,8]
numbers = list(set(numbers)) # remove duplicates
numbers.sort()
print(numbers[-2])

7

4.merge two sorted lists into one sorted list.

In [20]:
list1 = [4,5,6]
list2 = [9,3,4]

merged_list = sorted(list1 + list2)
print(merged_list)

[3, 4, 4, 5, 6, 9]

5.find all pairs in a list whose sum is equal to a target number

In [39]:
list1 = [4,5,6,7,8,9]
target_number = 9
pairs = []
# to iterate on every item
for x in list1: # outer loop will iterate on every number
    for y in list1: # inner loop will also do same thing including x
        if x < y and x + y == target_number:
            pairs.append((x,y))

print(pairs)

[(4, 5)]

6.sort a dictionary by keys or values

In [26]:
dict1 = {'name':'mohini','age':21}
sort_dict1 = dict(sorted(dict1.items()))
print(sort_dict1)

{'age': 21, 'name': 'mohini'}

7.find the key with the maximum or minimum value.

In [13]:
dict1 = {'n':87,'b':21}
max_key = max(dict1)
print(max_key)

min_key = min(dict1)
print(min_key)

n
b

8.Invert a dictionary(swap keys and values.)

In [41]:
dict1 = {'name':'mohini','age':21,'city':'pune'}
invert_dict1 = {v:k for k,v in dict1.items()}
print(invert_dict1)

{'mohini': 'name', 21: 'age', 'pune': 'city'}

9.group items from a list into a dictionary based on a common property.

In [47]:
fruits = ["apple","avacado","chickoo","banana","basil","cherry","coconut"]
grouped = {} # empty dictionary

for fruit in fruits:
    first_letter = fruit[0]

    if first_letter not in grouped:
        grouped[first_letter] = []
    grouped[first_letter].append(fruit)

print(grouped)

{'a': ['apple', 'avacado'], 'c': ['chickoo', 'cherry', 'coconut'], 'b': ['banana', 'basil']}

10.remove all items from a dictionary

In [18]:
dict1 = {'n':87,'b':21}
dict1.clear()
print(dict1)

{}

***Tuple and set program practicals***

1.Unpack a tuple into variables.

In [63]:
tuple1 = (4,5,6)
a,b,c = tuple1
print(a)
print(b)
print(c)

4
5
6

2.Concatenate two tuples.

In [65]:
tuple1 = (4,5,6)
tuple2 = (8,3,2)
concat_tuple = tuple1 + tuple2
print(concat_tuple)

(4, 5, 6, 8, 3, 2)

3.sort a list of tuples by the second element.

In [72]:
tuples = [(2,9),(3,7)]
sort_tuples = sorted(tuples,key=lambda x:x[1])
print(sort_tuples)

[(3, 7), (2, 9)]

4.write a program to replace the last element of a tuple.

In [76]:
tuples = (6,7,8)
replaced_tuples = tuples[:-1]+(90,) 
print(replaced_tuples)

(6, 7, 90)

5.find a common elements in two tuples

In [88]:
tuple1 = (4,5,6)
tuple2 = (2,4,6)
comm_element = tuple(set(tuple1) & set(tuple2))
print(comm_element)

(4, 6)

6.find elements present in only one of the two sets(symmetric difference)

In [82]:
tuple1 = (4,5,6)
tuple2 = (2,4,6)
symm_diff = tuple(set(tuple1)^set(tuple2))
print(symm_diff)

(2, 5)

7.write a program to check if two sets are disjoint.

In [90]:
set1 = {3,4,5}
set2 = {1,2,3}
print(set1.isdisjoint(set2))

False

8.create a set from user input and perform basic set operations

In [94]:
inp = input("enter elements")
s = set(inp.split())
print(s)

enter elements 3,4,5,6

{'3,4,5,6'}

9.find the duplicates items in a list using sets.

In [100]:
list1 = [1,2,3,3,4,5,4,6,5,3,3]
duplicates = set([x for x in list1 if list1.count(x)>1])
print(duplicates)

{3, 4, 5}

10.generate all subsets(power set) of a given set(ueing itertools).