# Python worksheet

**Section A: Functions (User-defined & Built-in)**

1. Define a function track_inventory(products) that takes a dictionary with product names as keys
and their stock as values. Return a list of products that need restocking (stock < 10).

In [6]:
def track_inventory(products):
    return[product for product, stock in products.items() if stock < 10]
products = {
    "laptop":10, "mobile":15, "tv":5
}
print(track_inventory(products))

['tv']

2. Write a function unique_digit_sum(n) that returns the sum of all unique digits in the number n.
Example: n = 122334 -> sum = 1+2+3+4 = 10

In [9]:
def unique_digit_sum(n):
    return sum(set(int(digit) for digit in str(n)))

n = 122334
print(unique_digit_sum(n))

10

3. Create a function flatten(nested_list) that takes a list of lists and returns a flat list. Do not use
itertools.chain.

In [12]:
def flatten(nested_list):
    return [item for sublist in nested_list for item in sublist]

nested_list = [[1,2,3],[4,5,6]]
print(flatten(nested_list))

[1, 2, 3, 4, 5, 6]

4. Define a function swap_case_words(s) that swaps the case of every character in every word in a
sentence and returns a list of transformed words.

In [17]:
def swap_case_words(s):
    return [word.swapcase() for word in s.split()]
s = "My name is mohini"
print(swap_case_words(s))

['mY', 'NAME', 'IS', 'MOHINI']

5. Create a function remove_consecutive_duplicates(lst) that removes only consecutive duplicates
from a list while keeping order.

In [9]:
def remove_consecutive_duplicates(lst):
    result = []
    for item in lst:
        if not result or item != result[-1]:
            result.append(item)
    return result

lst = [1,22,22,3,1,44,32]
print(remove_consecutive_duplicates(lst))

[1, 22, 3, 1, 44, 32]

**Section B: map(), filter(), reduce(), and lambda**

6. Given a list of tuples with (name, score), write a lambda + map() expression to extract all scores
and increase each by 5%

In [24]:
l = [('mohini',90),('gauri',67),('bhargavi',99)]
scores = list(map(lambda x : x[1] * 1.05,l))
print(scores)

[94.5, 70.35000000000001, 103.95]

7. Use filter() to extract words from a list that are palindromes and have length > 3

In [29]:
words = ['mom','mango','level']
palin = list(filter(lambda x : x == x[::-1] and len(x) > 3, words))
print(palin)

['level']

8. Use reduce() to calculate the product of all odd numbers in a list.

In [32]:
from functools import reduce
l = [23,54,11,87,1]
product = reduce(lambda x,y : x * y ,filter(lambda x : x%2!=0,l),1)
print(product)

22011

9. Given a list of integers, use map() and lambda to replace each number with 'Even' or 'Odd'.

In [35]:
l = [34,8,77,90,24,13]
even_odd = list(map(lambda x : 'Even' if x%2 == 0 else 'odd',l))
print(even_odd)

['Even', 'Even', 'odd', 'Even', 'Even', 'odd']

10. Use map() and filter() together to return squares of all numbers that are both even and divisible
by 3 from a given list.

In [40]:
l = [33,43,21,56,78,18]
res = list(map(lambda x : x**2, filter(lambda x:x%2==0 and x%3 == 0,l)))
print(res)

[6084, 324]

**Section C: List Methods**

11. Write a program that takes a list of student names and performs the following:
 - Removes duplicates
 - Sorts by last character of each name
 - Reverses the list

In [17]:
stud_names = ['mohini','bhargavi','gauri','purva','swara','purva','swara']
unique_names = list(set(stud_names))
print(unique_names) # removed duplicates

sorted_names = sorted(unique_names, key = lambda x:x[-1])
print(sorted_names)

print(sorted_names[::-1])

['bhargavi', 'purva', 'mohini', 'gauri', 'swara']
['purva', 'swara', 'bhargavi', 'mohini', 'gauri']
['gauri', 'mohini', 'bhargavi', 'swara', 'purva']

12. Given a list of integers, write a program that removes all duplicates but preserves the last
occurrence of each number

In [11]:
n = [23,65,78,99,100,67,43,23]
s = set()
res=[] # list to store removed duplicates

for num in reversed(n):
    if num not in s:
        res.append(num)
        s.add(num)
res

[23, 43, 67, 100, 99, 78, 65]

13. Take a list of temperatures in Celsius and convert them to Fahrenheit using list comprehension
+ round() + map().

In [7]:
cel_temp = [34,33,32,45,40]
fah_temp = [round((temp * 9/5)+32,2) for temp in cel_temp]
print(fah_temp)

cel_temp = [10,33,32,45,40]
fah_temp = list(map(lambda x : round((x*9/5)+32,2),cel_temp))
print(fah_temp)

[93.2, 91.4, 89.6, 113.0, 104.0]
[50.0, 91.4, 89.6, 113.0, 104.0]

14. Use slicing and indexing to reverse every second word in a sentence and store in a new list.

In [15]:
sent = 'my life is fuss'
words = sent.split()
res = [word if i%2 == 0 else word[::-1] for i, word in enumerate(words)]
print(res)

['my', 'efil', 'is', 'ssuf']

15. Create a menu-driven program with options:
 - Add element to list
 - Remove by value
 - Insert at specific position
 - Display reversed list

In [1]:
# initialized empty list
l = []

while True:
    # display menu
    print('1.Add element')
    print('2. remove by value')
    print('3.insert at specific position')
    print('4.display reversed list')
    print('5.exit')

    choice = input('enter your choice = ')

    # add element to the list
    if choice == '1':
        l.append(input('enter element to add = '))


    # remove by value
    elif choice == '2':
        l.remove(input('enter value to remove:'))

    # insert element at specific position
    elif choice == '3':
        pos = int(input('enter the position where you want to insert an element = '))
        l.append(pos,input('enter element = '))
    # display reversed list
    elif choice == '4':
        print(l[::-1])
    elif choice == '5':
        break
    else:
        print('invalid choice')

1.Add element
2. remove by value
3.insert at specific position
4.display reversed list
5.exit

enter your choice =  1
enter element to add =  2

1.Add element
2. remove by value
3.insert at specific position
4.display reversed list
5.exit

enter your choice =  1
enter element to add =  3

1.Add element
2. remove by value
3.insert at specific position
4.display reversed list
5.exit

enter your choice =  1
enter element to add =  4

1.Add element
2. remove by value
3.insert at specific position
4.display reversed list
5.exit

enter your choice =  1
enter element to add =  23

1.Add element
2. remove by value
3.insert at specific position
4.display reversed list
5.exit

enter your choice =  1
enter element to add =  45

1.Add element
2. remove by value
3.insert at specific position
4.display reversed list
5.exit

enter your choice =  2
enter value to remove: 45

1.Add element
2. remove by value
3.insert at specific position
4.display reversed list
5.exit

enter your choice =  3
enter the position where you want to insert an element =  1
enter element =  43

TypeError: list.append() takes exactly one argument (2 given)

**Section D: Set Methods & Programming**

16. Create two sets: attendees_day1, attendees_day2. Find:
 - Who attended both days
 - Who attended only one day
 - Who missed both days from a given master list

In [37]:
master_list = ['shaurya','nehal','purva','mohini','tanmay','yash','sarika','minakshi']
print('master list = ',master_list)
attendees_day1 = {'shaurya','nehal','purva','mohini','tanmay','yash'}
attendees_day2 = {'shaurya','tanmay','yash','sarika'}

# who attended both

attend_both = attendees_day1.intersection(attendees_day2)
print('Students who attended both days = ',attend_both)

# who attended only one day
attended_only_day_1 = attendees_day1.difference(attendees_day2)
attended_only_day_2 = attendees_day2.difference(attendees_day1)

print('students who attended only day 1 batch = ',attended_only_day_1)
print('students who attended only day 2 batch = ',attended_only_day_2)


# who missed both days
missed_both_days = set(master_list).difference(attendees_day1 | attendees_day2)
print('students who missed both days = ',missed_both_days)

master list =  ['shaurya', 'nehal', 'purva', 'mohini', 'tanmay', 'yash', 'sarika', 'minakshi']
Students who attended both days =  {'tanmay', 'yash', 'shaurya'}
students who attended only day 1 batch =  {'mohini', 'nehal', 'purva'}
students who attended only day 2 batch =  {'sarika'}
students who missed both days =  {'minakshi'}

17. Write a program that takes a list of strings and returns the number of unique vowels used across
all words (use set union)

In [1]:
def count_unique_vowels(words):
    vowels = set()
    for word in words:
        vowels |= set(char for char in word.lower() if char in 'aeiou')
    return len(vowels)

words = ['bird','mohini','earth','jupyter']
print(count_unique_vowels(words))

5

18. Given two lists, find all common elements using sets and print them in sorted descending order.

In [42]:
l1 = [54,32,67,21,98,70]
l2 = [56,54,63,32,98,6]
# common elements
comm_elements = set(l1) & set(l2)
print('common elements in descending order = ',sorted(comm_elements,reverse = True))

common elements in descending order =  [98, 54, 32]

19. Take a sentence input and return a set of all unique words that appear more than once.

In [45]:
sent = input('enter a sentence with repeated words = ')
words = sent.lower().split()
duplicates = set(word for word in set(words) if words.count(word)>1)
print(duplicates)

enter a sentence with repeated words =  life is very dangerous in life guessing that what will going to happen in future is very scary

{'is', 'very', 'life', 'in'}

20. Write a program to simulate a basic login system. Keep a set of registered usernames and
ensure a new username is only added if it's not already taken (case-insensitive).

In [52]:
users=set()
while True:
    print('1.Register')
    print('2.login')
    print('3.exit')
    choice = input('enter your choice = ')

    if choice == '1':
        username = input('enter a username = ')
        if username in users:
            print('username already exists')
        else:
            users.add(username)
            print('registered')
    elif choice == '2':
        username = input('enter your username = ')
        if username in users:
            print('logic successful')
        else:
            print('username not found')
    elif choice == '3':
        break
    else:
        print('invalid choice')

1.Register
2.login
3.exit

enter your choice =  1
enter a username =  mohini

registered
1.Register
2.login
3.exit

enter your choice =  1
enter a username =  gauri

registered
1.Register
2.login
3.exit

enter your choice =  2
enter your username =  mohini

logic successful
1.Register
2.login
3.exit

enter your choice =  2
enter your username =  bhargavi

username not found
1.Register
2.login
3.exit

enter your choice =  3

**Section E: Tuple Methods & Operations**

21. Create a tuple of mixed values. Write a program to:
 - Count how many integers it contains
 - Create a new tuple with only string elements
 - Return the max length string

In [61]:
mixed_values = (1,28,'atharva',9.0,'tanny')

# count integers
count = sum(isinstance(x,int) for x in mixed_values)
print('integer count = ',count)

# create new string elements tuple
string = tuple(x for x in mixed_values if isinstance(x,str))
print('string tuple = ',string)

# return max length string
max_string = max(string,key=len) if string else None
print('max length string = ',max_string)

integer count =  2
string tuple =  ('atharva', 'tanny')
max length string =  atharva

22. Given a tuple of (student_name, marks), write a function that returns a tuple of (name, grade)
based on:
 - 90 and above = A, 80-89 = B, 70-79 = C, below 70 = F

In [10]:
def grade_student(student):
    name, marks =student
    grade = 'A' if marks>=90 else 'B' if marks >= 80 else 'C' if marks >=70 else 'F'
    return(name,grade)
student = ('mohini',90)
print(grade_student(student))

('mohini', 'A')

23. Create a tuple of words and return a new tuple containing only those that start and end with the
same letter

In [13]:
words = ('angry','test','lol')
res= tuple(word for word in words if word[0].lower() == word[-1].lower())
print(res)

('test', 'lol')

24. Take a tuple of numbers and find all pairs whose sum is even. Return these as a list of tuples.

In [20]:
numbers = (1,2,3,4,5,6)
pair = [(x,y) for x in numbers for y in numbers if x != y and(x+y) % 2 == 0]
print(set(pair))

{(2, 4), (6, 2), (1, 5), (3, 1), (4, 6), (5, 1), (4, 2), (6, 4), (2, 6), (5, 3), (1, 3), (3, 5)}

25. Given a tuple with duplicate elements, write a program to:
 - Return a dictionary with element:count
 - Return a tuple with only the elements that occurred more than once

In [25]:
t = (1,2,4,3,5,4,6,7,3)

# element count
count = {x:t.count(x) for x in set(t)}
print(count)

# tuple with duplicate elements
dup = tuple(x for x in set(t) if t.count(x)>1)
print(dup)

{1: 1, 2: 1, 3: 2, 4: 2, 5: 1, 6: 1, 7: 1}
(3, 4)

1. Zig-Zag merge two strings

- merge two strings by picking alternate characters from each.
- eg. input:abc,12345 output - a1b2c345

2. Rearrange list by frequency

- reaarange the elements in a list so that elements with highr frequency come first

In [24]:
from collections import Counter
l = [3,3,2,1,2,2]
# f = frequency
f = Counter(l)
# sort the list based on frequency
print(sorted(l,key = lambda x : (-f[x],x)))
# -f sorts by frequency

[2, 2, 2, 3, 3, 1]

3. count the number of sets bits in binary

- write a program that counts the number of 1s in the binary representation of a number.

In [22]:
n = 15
count = bin(n).count('1')

print(count)

4

4. replace every element with the product of all other elements

- given a list, return a new list where each elements is the product of all elements except itself

In [ ]:
l =[1,2,3,4]

5. Split and Add Until Single Digit

- Split digits and add repeatedly until the result is a single digit.

In [42]:
n = 9875
while n > 9:

29

6.Check If a List Is Palindromic

- Write a function to check if a list of elements is the same forward and backward.

In [46]:
def is_palindromic(l):
    return l == l[::-1]

l = [1, 2, 3, 2, 1]
print(is_palindromic(l))

True

7.Sort a List of Strings Based on Length and Alphabetically

- Given a list of strings, sort them first by length and then alphabetically.

In [50]:
strings = ["apple", "bat", "ball", "at"]
sorted_strings = sorted(strings, key = lambda x:(len(x),x))
print(sorted_strings)

['at', 'bat', 'ball', 'apple']

8.Generate All Possible Subsets of a List

- Write a program to generate the power set (all subsets) of a list.

In [52]:
l = [1, 2]
subsets = [[]]
for e in l:
    subsets += [subset+[e] for subset in subsets]
print(subsets)

[[], [1], [2], [1, 2]]

9.Arrange Digits to Form the Largest Number

- Given a number, rearrange its digits to form the largest possible number.

In [54]:
n=3821
d = list(str(n))
d.sort(reverse = True)
largest_possible_num = int(''.join(d))
print(largest_possible_num)

8321

10.Convert Roman Numerals to Integer

- Write a program to convert a Roman numeral to an integer