# Python basic Program preparation

1. Minimum of Three numbers tale 3 numbers as input from user and check which is the smallest number

In [29]:
number1 = int(input("Enter first number"))
number2 = int(input("Enter second number"))
number3 = int(input("Enter third number"))

if (number2>number1 and number3>number1):
    print("First number is the smallest")
elif (number1>number2 and number3>number2):
    print("Second number is the smallest")
elif (number1>number3 and number2>number3):
    print("Third number is smallest")
else:
    print("Dont know")

Enter first number 5
Enter second number 6
Enter third number 1

Third number is smallest

2. Check if a number is Prime number take input from the user.

In [11]:
num = int(input("Enter a number:"))
prime = 1
for x in range (2,num):
  if(num % 2 == 0):
      prime=2
if(prime==1):
    print("prime number")
else:
    print("not a prime number")

Enter a number: 4

not a prime number

3. Count down timer- take the number as user input and count down the number till 10.

In [1]:
timer = int(input("Enter one number="))

while timer >= 0:
    print(timer)
    timer -= 1

Enter one number= 5

5
4
3
2
1
0

4. Number pyramid take user input for number of rows and increment a number in each row.

In [17]:
n = int(input("Enter the one number:"))

for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end='')
    print()

Enter the one number: 7

1
12
123
1234
12345
123456
1234567

In [5]:
rows = int (input("Enter one number:"))
for i in range(1,rows+1):
    print(*range(1,i+1)) # for unpacking the output pattern we are using here *

Enter one number: 5

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

5. Write a program that prints all prime numbers wthin a specified range provided by the user.

In [5]:
number = int(input("Enter one number="))

start = 0
for i in range(2,number):
    for j in range(2,i):
        if i%j == 0:
            start+=1
        if start>0:
            break
    if start == 0:
        print(i,"prime number")
    else:
        print(i,"not prime number")
    start = 0

Enter one number= 7

2 prime number
3 prime number
4 not prime number
5 prime number
6 not prime number

6. Write a program to calculate the sum of the first 'N' natural numbers where 'N' is provided by the user.

In [13]:
num = int(input("Enter a number="))
start = 0
for i in range(1,num+1):
    start += i
print("Sum of natural numbers is",start)

Enter a number= 8

Sum of natural numbers is 36

7. Write a program that prints all even numbers two numbers provided by the user.

In [18]:
number = int(input("Enter one number="))


for i in range(number):
        if i%2 == 0:
            print(i)

Enter one number= 5

0
2
4

8. Convert temperature from celsius to fahrenheit

In [22]:
count = int(input("Enter the temperature in celcius:"))
to_fah_temp = (9/5*count)+32
print("The temperature has converted into fahrenheit like=",to_fah_temp)

Enter the temperature in celcius: 56

The temperature has converted into fahrenheit like= 132.8

9. Write a program to calculate the sum of the digits of a number provided by the user.

In [31]:
n=int(input("enter one number="))

sum=0 # assume sum is 0
while(n>0):
     r = n%10
     sum=int(sum+r)
     n=n/10
print(sum)

enter one number= 45678

30

10. Calculate greatest common divisor

In [16]:
num1 = int(input("Enter the first number="))
num2 = int(input("Enter the second number="))

if num1 < num2:
    small_num = num1
else:
    small_num = num2
for i in range(small_num,0,-1):
    if(num1 % i == 0 and num2 % i == 0):
        print("Greatest common divisor is = ",i)
        break

Enter the first number= 56
Enter the second number= 433

Greatest common divisor is =  1

11. write a python program that counts the number of vowels in a given string

In [11]:
string = str(input("Enter any word or any sentence:"))

v = 0 # assume count of vowel is 0 
for ch in string:
    if ch in 'aeiouAEIOU':
        v = v+1
print("Vowels present in a given string=",v)

Enter any word or any sentence: Rohan

Vowels present in a given string= 2

13. Inverted half  pyramid using 
*****
****
***
**
*

In [29]:
number = int(input("Enter one number:"))

for i in range(number,0,-1):
    print("*"*i)

Enter one number: 5

*****
****
***
**
*

In [5]:
rows = int(input("Enter one number="))
k = 0

for i in range (1,rows+1):
    for space in range(1,(rows-i)+1):
        print(end="  ")

    while k!=(2*i-1):
        print("* ",end="")
        k += 1
    k = 0
    print()

Enter one number= 5

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [5]:
num = int(input("Enter one number = ")) # take input from user

for i in range(num,0,-1): # defined the range from given number and -1 for decrement
    print(' '*(num-i)+'*'*(2*i-1)) 
# ' '*(x-i) for adding space in center align and '*'*(2*i-1) it gives correct number of star in inverted.

# suppose i = 5 (2*5-1) = 9 It will print 9 star.

Enter one number =  2

***
 *

In [7]:
num = int(input("Please enter a number = "))

for i in range(1,num+1): # starting range from 1 to num+1
    print(' '*(num-i),end=' ') # print space from alignment
    for j in range(i,i*2): # it increses number starting from  i to i*2 that is i = 4 then it will print 4,5,6
        print(j,end='')
    for j in range(i*2-2,i-1,-1): # i*2-2 goes down to i that is i = 4 then print 5,4
        print(j,end='')
    print()

Please enter a number =  4

    1
   232
  34543
 4567654

In [1]:
m=6
for i in range(65,71):
    m-=1
    
    print(" "*m,end=" ")
    for k in range(65,i+1):
        print(chr(i),end=" ")
    print()

      A
     B B
    C C C
   D D D D
  E E E E E
 F F F F F F

In [3]:
m=6
for i in range(65,71):
    m-=1
    
    print(" "*m,end=" ")
    for k in range(65,i+1):
        print(chr(k),end=" ")
    print()

      A
     A B
    A B C
   A B C D
  A B C D E
 A B C D E F

1.Take user input of a string and print the reverse of a string

In [2]:
sentence = input("Enter string = ")
print("Reversed string = ",sentence[::-1])

Enter string =  God will make sure my life will be fine

Reversed string =  enif eb lliw efil ym erus ekam lliw doG

2.Print squares of all even numbers from 1 to 10

In [5]:
for i in range(1,11):
    if i % 2 == 0:
        print(f"Square is = {i**2}")

Square is = 4
Square is = 16
Square is = 36
Square is = 64
Square is = 100

3.Print all lowercase letters in a string. Take user input of the string.

In [8]:
sentence = input("enter any sentence = ")
lowercase = [char for char in sentence if char.islower()]
print("Lowercase letters are :",lowercase)

enter any sentence =  Mohini

Lowercase letters are : ['o', 'h', 'i', 'n', 'i']

4.Print factorial of a number using while loop

In [14]:
num =  int(input("Enter number = "))
fact = 1
i = 1
while i <= num:
    fact *= i
    i += 1
print(f"factorial = ",fact)

Enter number =  4

factorial =  24

5.print characters of a string one by one using while loop

In [19]:
string = input("Enter string = ")
i = 0
while i <len(string):
    print(string[i])
    i+=1

Enter string =  mohini

m
o
h
i
n
i

6.print first 5 multiples of 3

In [23]:
i =1 
while i<=5:
    print(3*i)
    i+=1

3
6
9
12
15

7. print the cube of all numbers from 1 to 5

In [32]:
for i in range(1,6):
    print(f"Cube of {i} is = ",i**3)

Cube of 1 is =  1
Cube of 2 is =  8
Cube of 3 is =  27
Cube of 4 is =  64
Cube of 5 is =  125

8. add numbers from 1 to 50 and print the total

In [35]:
total = sum(range(1,51))
print(total)

1275

9. calculate the sum of numbers from 1 to 100

In [38]:
total = sum(range(1,101))
print("sum of numbers from 1 to 100 is",total)

sum of numbers from 1 to 100 is 5050

10. given a 3 letter string, classify its pattern:
- AAA if all letters same
- ABA if outer same 
- ABC if all different

In [10]:
string = input('enter string = ')
if string[0]==string[1]==string[2]:
    print("AAA")
elif string[0]==string[2]:
    print("ABA")
else:
    print("ABC")

enter string =  mca

ABC

11. remove duplicates from a string while preserving original order

In [13]:
string = input('enter string = ')
res = ''.join(dict.fromkeys(string))
print(res)

enter string =  mohini

mohin

12. from a list of words, find all that read the same when reversed and are also valid in reverse

In [97]:
mirror_word = ['stressed','live','evil','desserts','team','meat','flower','part','trap','man']
l = []
for word in mirror_word:
    reversed_word = word[::-1] # to reverse a string
    if word == reversed_word or reversed_word in mirror_word:
        l.append(word)
print(l)

['stressed', 'live', 'evil', 'desserts', 'part', 'trap']

13. write a program to find the most frequent character in string

In [21]:
from collections import Counter

string = input('enter string = ')
counter = Counter(string)
most_freq_char = counter.most_common(1)[0][0]
print(most_freq_char)

enter string =  mohini

i

14. write a program to check if two strings are rotations of each other

In [101]:
s1 = input('enter string = ')
s2 = input('second string = ')

if len(s1) == len(s2) and s2 in s1+s1:
    
    print('rotation of each other')
else:
    print('no rotation')

enter string =  mohini
second string =  mohini

rotation of each other

15. write a program to check right-angled  triangle using only side lengths

In [34]:
s1 = float(input('enter side 1 = '))
s2 = float(input('enter side 2 = '))
s3 = float(input('enter side 3 = '))
sides = sorted([s1,s2,s3])
if sides[0]**2 + sides[1]**2 == sides[2]**2:
    print('it is an right angled triangle')
else:
    print('not right angled triangle')

enter side 1 =  4
enter side 2 =  5
enter side 3 =  3

it is an right angled triangle